body{
    top : 0;
    margin:0 0 0 0 ;
    padding: 0;
    background-color: #585445;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    border-bottom : 0.5px solid white;

}
.main{    
}
.page_title{
    display:block;
    font-size: 40px;
    top : 0;
    color:#a0c3f8;
}
p,
li{
    color:white;
}
h2{
    color:#a0c3f8;
    
}
.describe_box img{
    height: 280px;
    width: auto;
}

.describe_box{
    display :flex;
}
.box1{
    margin-right: 10px;
}
.footer img{
    width: 80px;
    border-color: white;
}